<div class="bigdiv" ng-controller="sideController">

    <body>
        <div class="div1">
            <h1>Hey everyone,</h1>
            <h2>this is the second View</h2>
            <h3>going still I !!!</h3>
        </div>
        
        <div>
            <ul>_______________________________________________________________________</ul>
            <div>
                <div class="div1">
                    <h1>Event through time:</h1>
                    <ul></ul>
                    <h2>The time is : {{time}}</h2></div>
                    <div class="div1">
                        <h2>Party time : {{currentTime}}</h2></div>
            </div>
        <ul>_______________________________________________________________________</ul>
        <div>
            <div class="div1">
                <h1>Event through date:</h1>
                <ul></ul>
                <h2>The date is : {{date}}</h2></div>
                <div class="div1">
                    <h2>Day of party : {{currentDate}}</h2></div>
        </div>
    </body>
</div>
</div>